* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tan;
}
a {
    text-decoration: none;
    color: #03045e;
}

/* ------------------------Resume Main--------------------- */
.resume {
    display: flex;
    height: 100%;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    width: 80%;
}

/* ---------------Both Resume Col---- */

/* -------------Left Column of Resume---- */
.resume-left-col {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 30%;
    padding: 0 20px ;
}
/* ----Profile Style---- */
.resume-left-col .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-left-col .profile img {
    border-radius: 100%;
    width: 70%;
    margin-top: 30px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.profile > h2 {
    margin-top: 10px;
    color: black;
    font-family: 'Poppins';
    font-size: xx-large;
}
.resume-left-col .profile .webbutvecklare {
    color: black;
    font-family: 'poppins';
}

.resume-left-col .profile hr {
    margin-top: 30px;
    height: 5px;
    width: 100%;
    border-radius: 100%;
    background-color: #caf0f8;
    box-shadow: 0px 3px 10px white;
}
/* -----Contact Info--- */
.resume-left-col .contact-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}
.contact-info > h2 {
    font-family: 'poppins';
    color: black;
    margin-bottom: 10px;
}
.resume-left-col .icons-info {
    display: flex;
    flex-direction: row;
}

/* Icons Styling */
.resume-left-col .icons {
    display: flex;
    flex-direction: column;
    color: #00b4d8 ;
    text-shadow: 0px 1px 3px whitesmoke;
}
.resume-left-col .icons i {
    padding: 5px;
    animation: fas 0.5s 4;
}

@keyframes fas{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* Info Styling */
.resume-left-col .info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    color: #03045e;
}
.resume-left-col .info ul>li {
    padding: 1px;
    font-family: 'poppins';
    font-weight: bold;
}

/* ------SKILLS------ */
.skillsBars {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skillsBars > h2 {
    margin-bottom: 20px;
    color: black;
}
.skillsBars p {
    font-family: 'poppins';
    font-weight: bold;
    color: black;
}
.resume-left-col .skillsBars .container {
    width: 90%;
    background-color: #03045e;
    border-radius: 10px;
    height: 10px;
    box-shadow: 0px 5px 10px #03045e;
    margin-bottom: 10px;
}
.resume-left-col .skillsBars .container .skills {
    height: 10px;
}
.container:hover{
    transform: scale(1.2);
}

.html {
    width: 90%;
    background-color: #00b4d8;
    border-radius: 10px;
}
.css {
    width: 80%;
    background-color: #00b4d8;
    border-radius: 10px;
}
.js {
    width: 60%;
    background-color: #00b4d8;
    border-radius: 10px;
}
.cs {
    width: 55%;
    background-color: #00b4d8;
    border-radius: 10px;
}
.python {
    width: 50%;
    background-color: #00b4d8;
    border-radius: 10px;
}
.ad {
    width: 90%;
    background-color: #00b4d8;
    border-radius: 10px;
}
.ap {
    width: 55%;
    background-color: #00b4d8;
    border-radius: 10px;
}
.dm {
    width: 90%;
    background-color: #00b4d8;
    border-radius: 10px;
}
.photo {
    width: 90%;
    background-color: #00b4d8;
    border-radius: 10px;
}

/* ------REFERENSER------ */
.referenser {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'poppins';
    font-weight: bold;
}
.referenser > h2 {
    margin-bottom: 20px;
}
.referenser .thomas {
    margin-bottom: 10px;
    margin-top: 10px;
}

.referens-icon-info {
    display: flex;
}

.referens-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.referenser .fas {
    animation: none;
    padding: 5px;
}
.referens-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.referens-info p {
    padding: 3px;
}


/* -------------Right Column of Resume---- */
.resume-right-col {
    display: flex;
    flex-direction: column;
    background-color: black;
}
/* ---ABOUT ME--- */
.about-me {
    margin: 30px;
    background-color: #00b4d8;
    padding: 30px;
    border: 2px ridge lightskyblue;
    border-radius: 10px;
    box-shadow: 0px 3px 10px white;
}

.about-me > h2, .about-me > p {
    font-family: 'poppins';
    text-align:justify;
    color: white;
}

.about-me > h2 {
    margin-bottom: 20px;
    color: #03045e;
}

/* ---ERFARENHET--- */
.erfarenhet {
    display: flex;
    flex-direction: column;
    margin: 60px 10px 0 30px;
}
.erfarenhet > h2 {
    margin-bottom: 30px;
    font-family: 'poppins';
    font-weight: bolder;
    color: white;
}

.timeline h2, .timeline h3, .timeline p {
    color: white;
    font-family: 'poppins';
}
.timeline h3 {
    font-style: italic;
    
}

.timeline h2 {
    color: #03045e;
}
/* Creating the line left */
.timeline {
    border-left: 5px solid #00b4d8;
    padding: 0 20px 0 30px;
    border-radius: 10px;
}
.timeline > div {
    border-radius: 10px;
    position: relative;
    margin-bottom: 80px;
    background-color: #00b4d8;
    padding: 10px 10px;
    box-shadow: 0px 0px 10px white;
    transition: .2s;
}

/* Timeline circles */
.timeline > div::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00b4d8;
    border: 5px solid white;
    position: absolute;
    top: 10px;
    left: -42px;
}

/* timeline pointers */
.timeline > div:after {
    content: '';
    height: 0px;
    width: 0px;
    border-style: solid;
    border-color: transparent #00b4d8 transparent transparent;
    border-width: 10px;
    position: absolute;
    left: -20px;
    top: 10px;
}
.timeline > div:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1000px) {
    .resume {
        flex-wrap: wrap;
        width: 100%;
        margin-top: 0px;
    }
    .resume-left-col, .resume-right-col{
        width: 100%;
    }
    
    @media screen and (max-width: 400px) {
        .education {
            align-items: center;
        }
    }
    @media screen and (max-width: 275px) {
        .resume {
            width: 100%;
            margin-top: 0px;
        }
    }
    
}
